<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <h3>Money</h3>
          <div style="margin-top: 10px">
            <rzslider rz-slider-model="loan.value"
                      rz-slider-options="slider.options"></rzslider>
          </div>
          <div class="metadata-container">
            <div class="metadata-loan-pair">
              <div class="metadata-loan-title">Loan amount of</div>
              <div class="metadata-loan-value">{{loan.value}}€</div>
            </div>

            <div class="metadata-loan-pair">
              <div class="metadata-loan-title">Deadline</div>
              <div class="metadata-loan-value metadata-loan-value-red">30 days</div>
            </div>

            <div class="metadata-loan-pair">
              <div class="metadata-loan-title">Commission</div>
              <div class="metadata-loan-value metadata-loan-value-red">{{(loan.value * 0.058) | number:2}}€</div>
            </div>

            <div class="metadata-loan-pair">
              <div class="metadata-loan-title">Cover amount</div>
              <div class="metadata-loan-value metadata-loan-value-red">{{(loan.value * 1.058) | number:2 }}€</div>
            </div>
          </div>
          <a href="/request" role="button" class="btn btn-default">Get Loan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">
          <h3>How do I get a loan?</h3>
          <p>How do I get a loan?</p>
          <a href="/how/borrow" role="button" class="btn btn-default">Borrow</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">
          <h3>How can I pay</h3>
          <p>can I pay</p>
          <a href="/how/pay" role="button" class="btn btn-default">Pay</a>
        </div>
      </div>
    </div>
  </div>
</div>
