<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="updateProfile()" class="form-horizontal">
        <legend>Profile Information</legend>
        <!--Email-->
        <div class="form-group">
          <label for="email" class="col-sm-3">Email</label>
          <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control" ng-model="profile.email">
          </div>
        </div>
        <!--First Name-->
        <div class="form-group">
          <label for="first-name" class="col-sm-3">First Name</label>
          <div class="col-sm-7">
            <input type="text" name="first name" id="first-name" class="form-control" ng-model="profile.firstName">
          </div>
        </div>
        <!--Last Name-->
        <div class="form-group">
          <label for="last-name" class="col-sm-3">Last Name</label>
          <div class="col-sm-7">
            <input type="text" name="last name" id="last-name" class="form-control" ng-model="profile.lastName">
          </div>
        </div>
        <!--Gender-->
        <div class="form-group">
          <label class="col-sm-3">Gender</label>
          <div class="col-sm-4">
            <label class="radio-inline radio col-sm-4">
              <input type="radio" name="gender" value="male" ng-checked="profile.gender === 'male'"><span>Male</span>
            </label>
            <label class="radio-inline col-sm-4">
              <input type="radio" name="gender" value="female" ng-checked="profile.gender === 'female'"><span>Female</span>
            </label>
          </div>
        </div>
        <!--ID-->
        <div class="form-group">
          <label for="userId" class="col-sm-3">ID</label>
          <div class="col-sm-7">
            <input type="text" name="ID" id="userId" class="form-control" ng-model="profile.personalId">
          </div>
        </div>
        <!--Mobile Number-->
        <div class="form-group">
          <label for="mobile-number" class="col-sm-3">Mobile Number</label>
          <div class="col-sm-7">
            <input type="text" name="Mobile Number" id="mobile-number" class="form-control" ng-model="profile.phoneNumber">
          </div>
        </div>
        <!--City-->
        <div class="form-group">
          <label for="city" class="col-sm-3">City</label>
          <div class="col-sm-7">
            <input type="text" name="city" id="city" class="form-control" ng-model="profile.city">
          </div>
        </div>
        <!--Address-->
        <div class="form-group">
          <label for="address" class="col-sm-3">Address</label>
          <div class="col-sm-7">
            <input type="text" name="address" id="address" class="form-control" ng-model="profile.address">
          </div>
        </div>
        <!--Bank Account-->
        <div class="form-group">
          <label for="bank-account" class="col-sm-3">Bank Account</label>
          <div class="col-sm-7">
            <input type="text" name="Bank Account" id="bank-account" class="form-control" ng-model="profile.bankAccount">
          </div>
        </div>
        <!--DOB-->
        <div class="form-group">
          <label for="dob" class="col-sm-3">Date Of Birth</label>
          <div class="col-sm-7">
            <md-datepicker id="dob" ng-model="profile.dob" md-placeholder="Enter date"  md-is-open="isOpen"></md-datepicker>
            <md-button class="md-primary md-raised" ng-click="isOpen = true">Open</md-button>
          </div>
        </div>

        <!--<div class="form-group">-->
          <!--<label class="col-sm-3">Gravatar</label>-->
          <!--<div class="col-sm-4">-->
            <!--<img ng-src="{{profile.gravatar}}" class="profile" width="100" height="100">-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-success">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <form ng-submit="changePassword()" class="form-horizontal">
        <legend>Change Password</legend>
        <div class="form-group">
          <label for="password" class="col-sm-3">New Password</label>
          <div class="col-sm-7">
            <input type="password" name="password" id="password" class="form-control" ng-model="profile.password">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3">Confirm Password</label>
          <div class="col-sm-7">
            <input type="password" name="confirm" id="confirm" class="form-control" ng-model="profile.confirm">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-3">
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="form-horizontal">
        <legend>Linked Accounts</legend>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <p>
              <a href="#" ng-click="unlink('facebook')" ng-if="currentUser.facebook" class="text-danger">Unlink your Facebook account</a>
              <a href="#" ng-click="link('facebook')" ng-if="!currentUser.facebook">Link your Facebook account</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <form ng-submit="deleteAccount()" class="form-horizontal">
        <legend>Delete Account</legend>
        <div class="form-group">
          <p class="col-sm-offset-3 col-sm-9">You can delete your account, but keep in mind this action is irreversible.</p>
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-danger">Delete my account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
