<div class="container">
    <md-content flex="nogrow">
        <div>
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <md-icon md-svg-icon="md-menu"></md-icon>
                            <span>Loan Request</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep" md-busy-text="'Processing...'" md-busy="vm.showBusyText">
                        <md-step label="Loan" md-complete="vm.stepData[0].data.completed" ng-disabled="vm.stepProgress < 1">
                            <md-step-body>
                                <form name="step1" ng-submit="vm.submitCurrentStep(vm.stepData[0])">
                                    <md-content class="md-padding">
                                        <div>
                                            <rzslider rz-slider-model="loan.value"
                                                      rz-slider-options="slider.options">

                                            </rzslider>
                                        </div>
                                        <div class="metadata-container">
                                            <div class="metadata-loan-pair">
                                                <div class="metadata-loan-title">Loan amount of</div>
                                                <div class="metadata-loan-value">{{loan.value}}€</div>
                                            </div>

                                            <div class="metadata-loan-pair">
                                                <div class="metadata-loan-title">Deadline</div>
                                                <div class="metadata-loan-value metadata-loan-value-red">30 days</div>
                                            </div>

                                            <div class="metadata-loan-pair">
                                                <div class="metadata-loan-title">Commission</div>
                                                <div class="metadata-loan-value metadata-loan-value-red">{{(loan.value * 0.058) | number:2}}€</div>
                                            </div>

                                            <div class="metadata-loan-pair">
                                                <div class="metadata-loan-title">Cover amount</div>
                                                <div class="metadata-loan-value metadata-loan-value-red">{{(loan.value * 1.058) | number:2 }}€</div>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCEL</md-button>
                                            <md-button type="submit" ng-disabled="!vm.stepData[0].data.value || vm.showBusyText" class="md-primary md-raised">NEXT</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Details" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="row" layout-align="center top">
                                            <div flex="nogrow" style="width: 400px">
                                                <h4>Please enter the reason</h4>
                                                <md-input-container class="md-block">
                                                    <label>What are you going to do with the money</label>
                                                    <input name="reason" ng-model="vm.stepData[1].data.reason"/>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="center top">
                                            <div flex="nogrow">
                                                <md-checkbox ng-model="vm.stepData[1].data.confirmation" aria-label="Confirm">
                                                    I confirm that I understand and agree to the <a href="/terms" target="_blank">terms of the contract</a>
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCEL</md-button>
                                            <md-button ng-disabled="vm.showBusyText" ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.reason))" class="md-primary md-raised">
                                                NEXT
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Finish" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="column" layout-align="center center" style="min-height: 200px">
                                            <h4>We'll notify you soon once it will be created!</h4>
                                            <md-button class="md-primary md-raised" href="/loans">GO TO YOUR LOANS</md-button>
                                        </div>
                                    </md-content>
                                </form>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
            </md-card>
        </div>
    </md-content>
</div>